<.link
  navigate={~p"/"}
  class="bg-cyan-500 hover:bg-cyan-400 text-2xl p-4 mt-4 rounded-full inline-block"
>
  Home
</.link>
<.link
  navigate={~p"/random"}
  class="bg-cyan-500 hover:bg-cyan-400 text-2xl p-4 mt-4 rounded-full inline-block"
>
  About
</.link>
<.link
  navigate={~p"/count"}
  class="bg-cyan-500 hover:bg-cyan-400 text-2xl p-4 mt-4 rounded-full inline-block"
>
  Projects
</.link>
<h1>This is random number: <%= @random_number %></h1>